@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1100px) and (max-width: 2000px) {
  body {
    max-width: 1200px;
    margin: auto;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  header a {
    text-decoration: none;
    color: black;
  }

  .logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 95%;
  }

  .back {
    position: absolute;
    left: 5%;
  }
  .back > a > i {
    font-size: 25px;
  }

  .container {
    height: 200vh;
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .container__img {
    height: 300px;
    width: 100%;
    border-radius: 25px;
  }
  .container__img > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .container__box {
    width: 100%;
    height: 172vh;
    background: #fff;
    position: absolute;
    top: 14%;
    border-radius: 25px 25px 0 0;
  }
  .container__box--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 0 3rem;
  }
  .container__box--header > h2 {
    font-family: "Shrikhand";
    font-size: 2rem;
  }
  .container__box--icon {
    position: relative;
    padding-right: 2rem;
    cursor: pointer;
    width: 15px;
  }
  .container__box--icon .fas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: #9356DC;
    display: block;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 330ms ease-in-out;
  }
  .container__box--icon .far {
    opacity: 1;
    transition: all 330ms ease-in-out;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: gray;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .container__box--icon:hover .fas {
    opacity: 1;
  }
  .container__box--icon:hover .far {
    opacity: 0;
  }
  .container__title {
    margin-left: 2rem;
    height: 40px;
    width: 40px;
    border-bottom: 2px solid #99E2D0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 15rem;
  }
  .container__title > h3 {
    text-transform: uppercase;
    font-weight: 200;
    color: #666666;
  }
  .container__entry {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
  }
  .container__entry__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--card {
    height: 100px;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__entry__options--card:hover .container__entry__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__entry__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: transform 330ms ease-in-out;
  }
  .container__entry__options--card:hover .container__entry__options--desc > h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 250px;
  }
  .container__entry__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__entry__options .option--price {
    position: absolute;
    right: 5%;
    bottom: 8%;
    transition: transform 330ms ease-in-out;
  }
  .container__entry__options--desc {
    width: 100%;
    height: 100%;
    transition: transform 330ms ease-in-out;
    transform: scaleX(100%);
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__entry__options--desc > h3 {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__entry__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__entry__options--desc > div > p {
    margin: 1rem 0;
  }
  .container__entry__options--right {
    width: 15%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__main {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-family: "Roboto";
  }
  .container__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--card {
    height: 100px;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__main__options--card:hover .container__main__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__main__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: transform 330ms ease-in-out;
  }
  .container__main__options--card:hover .container__main__options--desc > h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 220px;
  }
  .container__main__options--card:hover .container__main__options--desc p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 220px;
  }
  .container__main__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__main__options .option--price {
    position: absolute;
    right: 5%;
    bottom: 8%;
    transition: transform 330ms ease-in-out;
  }
  .container__main__options--desc {
    width: 100%;
    height: 100%;
    transition: transform 330ms ease-in-out;
    transform: scaleX(100%);
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__main__options--desc > h3 {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__main__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__main__options--desc > div > p {
    margin: 1rem 0;
  }
  .container__main__options--right {
    width: 15%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__desert {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
  }
  .container__desert__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--card {
    height: 100px;
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__desert__options--card:hover .container__desert__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__desert__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: transform 330ms ease-in-out;
  }
  .container__desert__options--card:hover .container__desert__options--desc > h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 220px;
  }
  .container__desert__options--card:hover .container__desert__options--desc p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 220px;
  }
  .container__desert__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__desert__options .option--price {
    position: absolute;
    transition: transform 330ms ease-in-out;
    right: 5%;
    bottom: 8%;
  }
  .container__desert__options--desc {
    width: 100%;
    height: 100%;
    transition: transform 330ms ease-in-out;
    transform: scaleX(100%);
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__desert__options--desc > h3 {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__desert__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__desert__options--desc > div > p {
    margin: 1rem 0;
  }
  .container__desert__options--right {
    width: 15%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__btn {
    height: 80px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px #aaa7a7;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;
  }
  .container__btn:hover {
    transform: scale(1.15);
  }
  .container__btn:hover::after {
    opacity: 1;
  }
  .container__btn::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #9356DC, #FF79DA);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    transition: opacity 330ms;
  }
  .container__btn {
    height: 80px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px #aaa7a7;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;
  }
  .container__btn:hover {
    transform: scale(1.15);
  }
  .container__btn:hover::after {
    opacity: 1;
  }
  .container__btn::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #9356DC, #FF79DA);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    transition: opacity 330ms;
  }

  .footer {
    min-height: 15vh;
    font-family: "Roboto";
    background-color: #4b4a4a;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .footer__title {
    font-family: "Shrikhand";
    color: white;
    text-align: center;
  }
  .footer__suggest {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__suggest > h3 {
    margin-left: 10px;
  }
  .footer__partner {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__partner > h3 {
    margin-left: 10px;
  }
  .footer__legal {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .footer__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    width: 100%;
  }
  .footer__info > div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 926px) and (max-width: 1099px) {
  body {
    max-width: 1000px;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back {
    position: absolute;
    left: 10%;
  }
  .back > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  .container {
    position: relative;
    min-height: 195vh;
  }
  .container__img {
    width: 100%;
  }
  .container__img > img {
    object-fit: cover;
    width: 100%;
  }
  .container__box {
    width: 100%;
    height: 160vh;
    background: #fff;
    position: absolute;
    top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px 25px 0 0;
  }
  .container__box--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .container__box--header > h2 {
    font-family: "Shrikhand";
  }
  .container__box--icon {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .container__box--icon .fas {
    position: absolute;
    opacity: 0;
    color: #9356DC;
    display: block;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-transition: all 330ms ease-in-out;
  }
  .container__box--icon .far {
    position: absolute;
    opacity: 1;
    transition: all 330ms ease-in;
  }
  .container__box--icon:hover .fas {
    opacity: 1;
  }
  .container__box--icon:hover .far {
    opacity: 0;
  }
  .container .container__title {
    margin-left: 2rem;
    height: 40px;
    width: 40px;
    border-bottom: 2px solid #99E2D0;
    margin-bottom: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 6rem;
  }
  .container .container__title > h3 {
    color: #9c9a9a;
    text-transform: uppercase;
  }
  .container__entry {
    font-family: "Roboto";
    width: 90%;
  }
  .container__entry__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__entry__options--card:hover .container__entry__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__entry__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__entry__options--card:hover .container__entry__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__entry__options--card:hover .container__entry__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__entry__options--card:hover .option--price {
    transform: translateX(-120px);
    transition: all 330ms ease-in-out;
  }
  .container__entry__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__entry__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__entry__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__main {
    font-family: "Roboto";
    margin-top: 1rem;
    width: 90%;
  }
  .container__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__main__options--card:hover .container__main__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__main__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__main__options--card:hover .container__main__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__main__options--card:hover .container__main__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__main__options--card:hover .option--price {
    transform: translateX(-120px);
    transition: all 330ms ease-in-out;
  }
  .container__main__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__main__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__main__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__desert {
    font-family: "Roboto";
    margin-top: 1rem;
    width: 90%;
  }
  .container__desert__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__desert__options--card:hover .container__desert__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__desert__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__desert__options--card:hover .container__desert__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__desert__options--card:hover .container__desert__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__desert__options--card:hover .option--price {
    transform: translateX(-120px);
    transition: all 330ms ease-in-out;
  }
  .container__desert__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__desert__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__desert__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__btn {
    height: 80px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px #aaa7a7;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;
  }
  .container__btn:hover {
    transform: scale(1.15);
  }
  .container__btn:hover::after {
    opacity: 1;
  }
  .container__btn::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #9356DC, #FF79DA);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    transition: opacity 330ms;
  }

  .footer__legal {
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 582px) and (max-width: 925px) {
  body {
    max-width: 800px;
    margin: auto;
  }

  header {
    background: #fff;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back {
    position: absolute;
    left: 10%;
  }
  .back > a {
    text-decoration: none;
    color: black;
  }
  .back > a > i {
    font-size: 25px;
  }

  .container {
    min-height: 165vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .container__img {
    width: 100%;
    border-radius: 25px;
  }
  .container__img > img {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  .container__box {
    position: absolute;
    height: 145vh;
    width: 100%;
    top: 12%;
    background: #fff;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__box--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }
  .container__box--header > h2 {
    font-family: "Shrikhand";
  }
  .container__box--icon {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .container__box--icon .fas {
    position: absolute;
    opacity: 0;
    color: #9356DC;
    display: block;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-transition: all 330ms ease-in-out;
  }
  .container__box--icon .far {
    position: absolute;
    opacity: 1;
    transition: all 330ms ease-in;
  }
  .container__box--icon:hover .fas {
    opacity: 1;
  }
  .container__box--icon:hover .far {
    opacity: 0;
  }
  .container .container__title > h3 {
    color: #9c9a9a;
    text-transform: uppercase;
  }
  .container__entry {
    font-family: "Roboto";
    width: 90%;
  }
  .container__entry__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__entry__options--card:hover .container__entry__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__entry__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__entry__options--card:hover .container__entry__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__entry__options--card:hover .container__entry__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__entry__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: all 330ms ease-in-out;
  }
  .container__entry__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__entry__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__entry__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__entry__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__main {
    font-family: "Roboto";
    width: 90%;
  }
  .container__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__main__options--card:hover .container__main__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__main__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__main__options--card:hover .container__main__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__main__options--card:hover .container__main__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__main__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: all 330ms ease-in-out;
  }
  .container__main__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__main__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__main__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__main__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__desert {
    font-family: "Roboto";
    width: 90%;
  }
  .container__desert__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--card {
    height: 90px;
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 3px 5px #918a8a;
    transition: transform 330ms ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .container__desert__options--card:hover .container__desert__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__desert__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__desert__options--card:hover .container__desert__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__desert__options--card:hover .container__desert__options--desc > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 260px;
  }
  .container__desert__options--card:hover .option--price {
    transform: translateX(-90px);
    transition: all 330ms ease-in-out;
  }
  .container__desert__options .option--price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc {
    width: 90%;
    height: 90%;
    transition: transform 330ms ease-in-out;
    transform-origin: left;
    padding: 0 1rem;
  }
  .container__desert__options--desc p {
    margin: 0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc h3 {
    margin-bottom: 1rem;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 0.25rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container__desert__options--right {
    width: 20%;
    height: 100%;
    right: 0;
    position: absolute;
    transform: scaleX(0);
    overflow-x: hidden;
    transform-origin: 100%;
    transition: transform 330ms ease-in-out;
    border-radius: 0 25px 25px 0;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container__desert__options--right > i {
    color: white;
    transition: transform 330ms ease-in-out;
    transform: rotate(180deg);
  }
  .container__btn {
    height: 80px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px #aaa7a7;
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;
  }
  .container__btn:hover {
    transform: scale(1.15);
  }
  .container__btn:hover::after {
    opacity: 1;
  }
  .container__btn::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #9356DC, #FF79DA);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    transition: opacity 330ms;
  }

  .footer__legal {
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 581px) {
  body {
    max-width: 470px;
    margin: auto;
  }

  header {
    position: relative;
    box-shadow: none;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back {
    position: absolute;
    cursor: pointer;
    left: 5%;
  }
  .back > i {
    font-size: 20px;
  }

  .container {
    position: relative;
    height: 180vh;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
  }
  .container__img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  .container__img > img {
    object-fit: cover;
    width: 100%;
    animation: img__fade__in 300ms both;
  }
  @keyframes img__fade__in {
    0% {
      opacity: 0;
    }
  }
  .container__title {
    text-align: left;
    margin-left: 1rem;
    text-transform: uppercase;
    color: #b6b0b0;
  }
  .container__box {
    background: #fff;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 12%;
    height: 90%;
    width: 100%;
  }
  .container__box--icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .container__box--icon:hover .fas {
    opacity: 1;
  }
  .container__box--icon:hover .far {
    opacity: 0;
  }
  .container__box--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .container__box--header > h2 {
    font-family: "Shrikhand";
    font-size: 2rem;
  }
  .container__box--header .fas {
    opacity: 0;
    position: absolute;
    color: #9356DC;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 330ms ease-in-out;
  }
  .container__box--header .far {
    position: absolute;
    transition: all 330ms ease-in-out;
  }
  .container__box--header > h2 {
    font-size: 1.5rem;
  }
  .container__entry {
    display: flex;
    flex-direction: column;
  }
  .container__entry h2 {
    margin: 0;
  }
  .container__entry__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container__entry__options--card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 3px 4px #c4bfbf;
    border-radius: 25px;
    height: 80px;
    width: 90%;
    margin-bottom: 1rem;
    overflow-x: hidden;
  }
  .container__entry__options--card:hover .container__entry__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__entry__options--card:hover .option--price {
    transform: translateX(-70px);
    transition: transform 330ms ease-in-out;
  }
  .container__entry__options--card:hover .container__entry__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    overflow-x: hidden;
  }
  .container__entry__options--card:hover .container__entry__options--desc div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow-x: hidden;
  }
  .container__entry__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__entry__options .option--price {
    position: absolute;
    right: 5%;
    bottom: 25%;
    transition: transform 330ms ease-in-out;
  }
  .container__entry__options--desc {
    align-items: center;
    padding-left: 1rem;
  }
  .container__entry__options--desc > h3 {
    margin-bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--desc p {
    margin: 0;
  }
  .container__entry__options--desc > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container__entry__options--right {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: 100%;
    background: #99E2D0;
    transition: all 330ms ease-in-out;
  }
  .container__entry__options--right > i {
    color: white;
    transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
  }
  .container__main {
    display: flex;
    flex-direction: column;
  }
  .container__main h2 {
    margin: 0;
  }
  .container__main p {
    transition: all 400ms ease-in-out;
  }
  .container__main__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container__main__options--card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 3px 4px #c4bfbf;
    border-radius: 25px;
    height: 80px;
    width: 90%;
    margin-bottom: 1rem;
    overflow-x: hidden;
  }
  .container__main__options--card:hover .container__main__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__main__options--card:hover .option--price {
    transform: translateX(-70px);
    transition: transform 330ms ease-in-out;
  }
  .container__main__options--card:hover .container__main__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    overflow-x: hidden;
  }
  .container__main__options--card:hover .container__main__options--desc div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow-x: hidden;
    transition: all 400ms ease-in-out;
  }
  .container__main__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__main__options .option--price {
    position: absolute;
    right: 5%;
    bottom: 25%;
    transition: transform 330ms ease-in-out;
  }
  .container__main__options--desc {
    align-items: center;
    padding-left: 1rem;
  }
  .container__main__options--desc > h3 {
    margin-bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--desc p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow-x: hidden;
  }
  .container__main__options--desc > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container__main__options--right {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: 100%;
    background: #99E2D0;
    transition: all 330ms ease-in-out;
  }
  .container__main__options--right > i {
    color: white;
    transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
  }
  .container__desert {
    display: flex;
    flex-direction: column;
  }
  .container__desert h2 {
    margin: 0;
  }
  .container__desert__options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container__desert__options--card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 3px 4px #c4bfbf;
    border-radius: 25px;
    height: 80px;
    width: 90%;
    margin-bottom: 1rem;
    overflow-x: hidden;
  }
  .container__desert__options--card:hover .container__desert__options--right {
    transform: scaleX(1);
    border-radius: 0 25px 25px 0;
  }
  .container__desert__options--card:hover .option--price {
    transform: translateX(-70px);
    transition: transform 330ms ease-in-out;
  }
  .container__desert__options--card:hover .container__desert__options--desc > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    overflow-x: hidden;
  }
  .container__desert__options--card:hover .container__desert__options--desc div > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow-x: hidden;
  }
  .container__desert__options--card:hover i {
    transform: rotate(0deg);
  }
  .container__desert__options .option--price {
    position: absolute;
    right: 5%;
    bottom: 25%;
    transition: transform 330ms ease-in-out;
  }
  .container__desert__options--desc {
    align-items: center;
    padding-left: 1rem;
  }
  .container__desert__options--desc > h3 {
    margin-bottom: 0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--desc p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    overflow-x: hidden;
  }
  .container__desert__options--desc > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .container__desert__options--right {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: 100%;
    background: #99E2D0;
    transition: all 330ms ease-in-out;
  }
  .container__desert__options--right > i {
    color: white;
    transform: rotate(180deg);
    transition: transform 330ms ease-in-out;
  }
  .container .container__title {
    width: 50px;
    height: 40px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    border-bottom: 2px solid #99E2D0;
  }
  .container .container__title > h2 {
    font-weight: 300;
  }
  .container__btn {
    height: 60px;
    width: 60%;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px #aaa7a7;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;
  }
  .container__btn:hover {
    transform: scale(1.15);
  }
  .container__btn:hover::after {
    opacity: 1;
  }
  .container__btn::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #9356DC, #FF79DA);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 30px;
    transition: opacity 330ms;
  }

  footer {
    width: 100%;
    min-height: 20vh;
    background-color: #3a3939;
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: "Roboto";
  }
  .footer__logo {
    height: 25px;
    width: 150px;
    margin-bottom: 1rem;
    filter: invert(100%) sepia(6%) saturate(1800%) hue-rotate(293deg) brightness(108%) contrast(101%);
  }
  .footer__suggest {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    height: 30px;
  }
  .footer__suggest > h3 {
    margin-left: 1rem;
    color: white;
  }
  .footer__partner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
  }
  .footer__partner > h3 {
    margin-left: 1rem;
    color: white;
  }
  .footer__legal > p {
    margin: 0.5rem 0;
  }
  .footer i {
    color: white;
  }
}
body {
  background: #180505;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.loop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.loop__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9356DC;
  margin: 0.7rem;
  animation: burger 500ms backwards infinite ease-in-out alternate;
}
.loop__item--1 {
  animation-delay: 100ms;
}
.loop__item--2 {
  animation-delay: 200ms;
}
.loop__item--3 {
  animation-delay: 300ms;
}
.loop__item--4 {
  animation-delay: 400ms;
}
.loop__item--5 {
  animation-delay: 500ms;
}
.loop__item > i {
  font-size: 3rem;
}

.content__loaded {
  animation: content 0ms 1100ms both;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes content {
  0% {
    opacity: 0;
  }
}
@keyframes burger {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}
.container__entry__options--card {
  animation: item__fade__in 200ms both;
  cursor: pointer;
}

.options__entry__card--1 {
  animation-delay: 1200ms;
}

.options__entry__card--2 {
  animation-delay: 1500ms;
}

.options__entry__card--3 {
  animation-delay: 1700ms;
}

.container__main__options--card {
  animation: item__fade__in 200ms both;
  cursor: pointer;
}

.options__main__card--1 {
  animation-delay: 1800ms;
}

.options__main__card--2 {
  animation-delay: 1900ms;
}

.options__main__card--3 {
  animation-delay: 2000ms;
}

.container__desert__options--card {
  animation: item__fade__in 200ms both;
  cursor: pointer;
}

.options__desert__card--1 {
  animation-delay: 2100ms;
}

.options__desert__card--2 {
  animation-delay: 2200ms;
}

.options__desert__card--3 {
  animation-delay: 2300ms;
}

@keyframes item__fade__in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateX(-90%);
  }
}

/*# sourceMappingURL=menu.css.map */
