@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto !important;
}

body {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
}


header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    text-decoration: none;
    color: black;
  }
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 95%;
}

.back {
  position: absolute;
  left: 18%;

  & > a {
    & > i {
      font-size: 25px;
    }
  }
}

.container {
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  width: 100%;

  &__img {
    height: 280px;
    width: 100%;
    border-radius: 25px;
    & > img {
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }
  &__box {
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 25px 25px 0 0;
    &--header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      justify-content: space-around;

      & > h2 {
        font-family: "Shrikhand";
        font-size: 2rem;
      }
    }

    &--icon {
      position: relative;
      margin-right: 2rem;

      cursor: pointer;
      width: 35px;

      .fas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        color: $cd-primary;
        display: block;
        background: -webkit-linear-gradient($cd-primary, $cd-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-transition: all 330ms ease-in-out;
      }

      .far {
        opacity: 1;
        transition: all 330ms ease-in-out;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: gray;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &:hover {
        .fas {
          opacity: 1;
        }

        .far {
          opacity: 0;
        }
      }
    }
  }

  &__title {
    height: 40px;
    width: 40px;
    border-bottom: 2px solid $cd-tertiary;
    margin-bottom: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-left: 15rem;

    & > h3 {
      text-transform: uppercase;
      font-weight: 200;
      color: lighten($color: black, $amount: 40);
    }
  }
  // Entry
  &__entry {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--card {
        height: 100px;
        width: 60%;
        margin-bottom: 1rem;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgb(145, 138, 138);
        transition: transform 330ms ease-in-out;
        position: relative;
        overflow: hidden;

        &:hover {
          .container__entry__options--right {
            transform: translateX(0);
            border-radius: 0 25px 25px 0;
          }

          .option--price {
            transform: translateX(-90px);
            transition: transform 330ms ease-in-out;
          }

          i {
            transform: rotate(0deg);
          }
        }
      }

      .option--price {
        position: absolute;
        right: 5%;
        bottom: 8%;
        transition: transform 330ms ease-in-out;
      }

      &--desc {
        width: 100%;
        height: 100%;
        transition: transform 330ms ease-in-out;
        transform-origin: left;
        padding: 0 1rem;

        h3 {
          margin-bottom: 0;
        }

        & > div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-left: 0.25rem;
          margin-bottom: 1rem;
        }
      }

      &--right {
        width: 15%;
        height: 100%;
        right: 0;
        position: absolute;
        transform: translateX(115%);
        overflow-x: hidden;
        transform-origin: right;
        transition: transform 330ms ease-in-out;
        border-radius: 0 25px 25px 0;
        background: $cd-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        & > i {
          color: white;
          transition: transform 330ms ease-in-out;
          transform: rotate(360deg);
        }
      }
    }
  }

  // Plats
  &__main {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-family: "Roboto";
    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--card {
        height: 100px;
        width: 60%;
        margin-bottom: 1rem;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgb(145, 138, 138);
        transition: transform 330ms ease-in-out;
        position: relative;
        overflow: hidden;
        &:hover {
          .container__main__options--right {
            transform: translateX(0);
            border-radius: 0 25px 25px 0;
          }

          .option--price {
            transform: translateX(-90px);
            transition: transform 330ms ease-in-out;
          }

          i {
            transform: rotate(0deg);
          }
        }
      }

      .option--price {
        position: absolute;
        right: 5%;
        bottom: 8%;
        transition: transform 330ms ease-in-out;
      }

      &--desc {
        width: 100%;
        height: 100%;
        transition: transform 330ms ease-in-out;
        transform: scaleX(100%);
        transform-origin: left;
        padding: 0 1rem;

        h3 {
          margin-bottom: 0;
        }

        & > div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-right: 2rem;
          padding-left: 0.25rem;
          margin-bottom: 2rem;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &--right {
        width: 15%;
        height: 100%;
        right: 0;
        position: absolute;
        transform: translateX(115%);
        overflow-x: hidden;
        transform-origin: 100%;
        transition: transform 330ms ease-in-out;
        border-radius: 0 25px 25px 0;
        background: $cd-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        & > i {
          color: white;
          transition: transform 330ms ease-in-out;
          transform: rotate(360deg);
        }
      }
    }
  }

  // Desserts
  &__desert {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    &__options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--card {
        height: 100px;
        width: 60%;
        margin-bottom: 1rem;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0 3px 5px rgb(145, 138, 138);
        transition: transform 330ms ease-in-out;
        position: relative;
        overflow: hidden;
        &:hover {
          .container__desert__options--right {
            transform: translateX(0);
            border-radius: 0 25px 25px 0;
          }

          .option--price {
            transform: translateX(-90px);
            transition: transform 330ms ease-in-out;
          }

          i {
            transform: rotate(0deg);
          }
        }
      }

      .option--price {
        position: absolute;
        transition: transform 330ms ease-in-out;
        right: 5%;
        bottom: 8%;
      }

      &--desc {
        width: 100%;
        height: 100%;
        transition: transform 330ms ease-in-out;
        transform: scaleX(100%);
        transform-origin: left;
        padding: 0 1rem;

        & > h3 {
          margin-bottom: 0;
        }

        & > div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-right: 2rem;
          padding-left: 0.25rem;
          margin-bottom: 2rem;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &--right {
        width: 15%;
        height: 100%;
        right: 0;
        position: absolute;
        transform: translateX(115%);
        overflow-x: hidden;
        transform-origin: 100%;
        transition: transform 330ms ease-in-out;
        border-radius: 0 25px 25px 0;
        background: $cd-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        & > i {
          color: white;
          transition: transform 330ms ease-in-out;
          transform: rotate(360deg);
        }
      }
    }
  }

  &__btn {
    height: 80px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient($cd-primary, $cd-secondary);
    position: absolute;
    bottom: 6%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(170, 167, 167);
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;

    &:hover {
      &::after {
        opacity: 1;
      }

      transform: scale(1.15);
    }

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(to right, $cd-primary, $cd-secondary);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      border-radius: 30px;
      transition: opacity 330ms;
    }
  }

  &__btn {
    height: 70px;
    width: 30%;
    border-radius: 30px;
    background: linear-gradient($cd-primary, $cd-secondary);
    position: relative;
    cursor: pointer;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(170, 167, 167);
    font-family: "Roboto";
    font-size: 1.7rem;
    color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 330ms ease-in-out;
    transition: all 330ms ease-in-out;

    &:hover {
      &::after {
        opacity: 1;
      }

      transform: scale(1.15);
    }

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(to right, $cd-primary, $cd-secondary);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      border-radius: 30px;
      transition: opacity 330ms;
    }
  }
}

footer{

 width: 100%;
 padding-left: 0;

}

.footer {
  margin-left: 20%;
}










// Small Screen

@media only screen and (max-width: 1099px) {
  body {
    max-width: 1000px;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back {
    position: absolute;
    left: 20%;
    & > a {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    &__img {
      width: 100%;
      height: 280px;
      & > img {
        object-fit: cover;
        width: 100%;
      }
    }

    &__box {
      width: 100%;
      background: #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px 25px 0 0;

      &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        & > h2 {
          font-family: "Shrikhand";
        }
      }

      &--icon {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;

        .fas {
          position: absolute;
          opacity: 0;
          color: $cd-primary;
          display: block;
          -webkit-text-fill-color: transparent;
          background: -webkit-linear-gradient($cd-primary, $cd-secondary);
          -webkit-background-clip: text;
          -webkit-transition: all 330ms ease-in-out;
        }

        .far {
          position: absolute;
          opacity: 1;
          transition: all 330ms ease-in;
        }

        &:hover {
          .fas {
            opacity: 1;
          }

          .far {
            opacity: 0;
          }
        }
      }
    }
    .container__title {
      margin-left: 2rem;
      height: 40px;
      width: 40px;
      border-bottom: 2px solid $cd-tertiary;
      margin-bottom: 2rem;
      display: flex;
      justify-content: baseline;
      align-items: center;
      margin-left: 6rem;

      & > h3 {
        color: rgb(156, 154, 154);
        text-transform: uppercase;
      }
    }

    .container__box--icon {
      width: 35px;
      margin-right: 0rem;
    }

    .container__title {
      margin-left: 20%;
    }

    .container__entry {
      width: 90%;

      .option--price {
        margin-bottom: 1rem;
      }
    }

    .container__main {
      width: 90%;
    }

    .container__desert {
      width: 90%;
    }

    &__btn {
      height: 70px;
      width: 30%;
      border-radius: 30px;
      background: linear-gradient($cd-primary, $cd-secondary);

      position: relative;
      margin: 2rem 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 3px 10px rgb(170, 167, 167);
      font-family: "Roboto";
      font-size: 1.7rem;
      color: white;
      z-index: 1;
      transform: scale(1);
      transition: transform 330ms ease-in-out;
      transition: all 330ms ease-in-out;

      &:hover {
        &::after {
          opacity: 1;
        }

        transform: scale(1.15);
      }

      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(to right, $cd-primary, $cd-secondary);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        border-radius: 30px;
        transition: opacity 330ms;
      }
    }
  }


}

//Tablet Size

@media only screen and (max-width: 999px) {
  body {
    max-width: 800px;
    margin: auto;
  }

  header {
    background: #fff;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }



  .back {
    position: absolute;
    left: 15%;

    & > a {
      text-decoration: none;
      color: black;
      & > i {
        font-size: 25px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background: #fff;

    &__img {
      width: 100%;
      height: 250px;
      border-radius: 25px;

      & > img {
        object-fit: cover;
        width: 100%;
      }
    }

    &__box {
      position: relative;
      width: 100%;
      background: #fff;
      border-radius: 25px 25px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        & > h2 {
          font-family: "Shrikhand";
        }
      }

      &--icon {
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;

        .fas {
          position: absolute;
          opacity: 0;
          color: $cd-primary;
          display: block;
          -webkit-text-fill-color: transparent;
          background: -webkit-linear-gradient($cd-primary, $cd-secondary);
          -webkit-background-clip: text;
          -webkit-transition: all 330ms ease-in-out;
        }

        .far {
          position: absolute;
          opacity: 1;
          transition: all 330ms ease-in;
        }

        &:hover {
          .fas {
            opacity: 1;
          }

          .far {
            opacity: 0;
          }
        }
      }
    }

    .container__title {
      margin-left: 4.5rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
      width: 35px;
      border-bottom: 2px solid $cd-tertiary;
      & > h3 {
        color: rgb(156, 154, 154);
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

  .footer {
    margin-left: 7%;
  }
  

  .container__entry__options--card {
    width: 80%;
  }
  .container__main__options--card {
    width: 80%;
  }

  .container__desert__options--card {
    width: 80%;
  }
}

// Phone Size

@media only screen and (max-width: 581px) {
  body {

    margin: auto;
  }

  header{
    width: 100%;
  }


  .loop {
    width: 100px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .back {
    position: absolute;
    cursor: pointer;

    left: 5%;
    & > i {
      font-size: 20px;
    }
  }

  .container {
    position: relative;

    font-family: "Roboto";
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: 100%;
      height: 250px;
      > img {
        object-fit: cover;
        width: 100%;
        animation: img__fade__in 300ms both;
      }
    }

    &__title {
      text-align: left;
      margin-left: 1rem;
      text-transform: uppercase;
      color: rgb(182, 176, 176);
    }

    &__box {
      background: #fff;
      border-radius: 25px 25px 0 0;
      position: relative;
      width: 100%;

      &--icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        &:hover {
          .fas {
            opacity: 1;
          }
          .far {
            opacity: 0;
          }
        }
      }
      &--header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;

        & > h2 {
          font-family: "Shrikhand";
          font-size: 2rem;
        }

        .fas {
          opacity: 0;
          position: absolute;
          color: $cd-primary;
          background: -webkit-linear-gradient($cd-primary, $cd-secondary);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-transition: all 330ms ease-in-out;
        }

        .far {
          position: absolute;
          transition: all 330ms ease-in-out;
        }
      }

      &--header {
        > h2 {
          font-size: 1.5rem;
        }
      }
    }

    &__entry {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      &__options {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &--card {
          display: flex;
          flex-direction: column;
          position: relative;
          box-shadow: 0px 3px 4px rgb(196, 191, 191);
          border-radius: 25px;
          height: 80px;
          width: 90%;
          margin-bottom: 1rem;
          overflow-x: hidden;
          &:hover {
            .container__entry__options--right {
              transform: translateX(0);
              border-radius: 0 25px 25px 0;
            }

            .option--price {
              transform: translateX(-50px);
              transition: transform 330ms ease-in-out;
            }

            .container__entry__options--desc {
              & > h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 180px;
                overflow-x: hidden;
              }

              div {
                & > p {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 180px;
                  overflow-x: hidden;
                }
              }
            }
            i {
              transform: rotate(0deg);
            }
          }
        }

        .option--price {
          position: absolute;
          right: 5%;
          bottom: 0;
          transition: transform 330ms ease-in-out;
        }

        &--desc {
          align-items: center;
          padding-left: 1rem;

          & > h3 {
            margin-bottom: 0;
            transition: all 330ms ease-in-out;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 180px;
            overflow-x: hidden;
          }

          & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;

            &>p{
              text-overflow: ellipsis;
              width: 180px;
              overflow-x: hidden;
              white-space: nowrap;
            }
          }
        }

        &--right {
          position: absolute;
          width: 20%;
          height: 100%;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transform-origin: right;
          background: $cd-tertiary;
          transform: translateX(120%);
          transition: all 330ms ease-in-out;

          > i {
            color: white;
            transform: rotate(360deg);
            transition: transform 330ms ease-in-out;
          }
        }
      }
    }

    &__main {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      p {
        transition: all 400ms ease-in-out;
      }

      &__options {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        $anim-duration: 600ms;
        $num-items: 3;
        $animation-delay: $anim-duration / $num-items;

        &--card {
          display: flex;
          flex-direction: column;
          position: relative;
          box-shadow: 0px 3px 4px rgb(196, 191, 191);
          border-radius: 25px;
          height: 80px;
          width: 90%;
          margin-bottom: 1rem;
          overflow-x: hidden;
          animation: items-fade $anim-duration;

          &:hover {
            .container__main__options--right {
              transform: translateX(0);
              border-radius: 0 25px 25px 0;
            }

            .option--price {
              transform: translateX(-50px);
              transition: transform 330ms ease-in-out;
            }

            .container__main__options--desc {
              & > h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 180px;
                overflow-x: hidden;
              }

              div {
                & > p {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 180px;
                  overflow-x: hidden;
                  transition: all 400ms ease-in-out;
                }
              }
            }
            i {
              transform: rotate(0deg);
            }
          }
        }

        .option--price {
          position: absolute;
          right: 5%;
          bottom: 0;
          transition: transform 330ms ease-in-out;
        }

        &--desc {
          align-items: center;
          padding-left: 1rem;

          & > h3 {
            margin-bottom: 0;
            transition: all 330ms ease-in-out;
            text-overflow: ellipsis;
            width: 180px;
            overflow-x: hidden;
            white-space: nowrap;
            
          }

          & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            & > p {
              text-overflow: ellipsis;
              width: 180px;
              overflow-x: hidden;
              white-space: nowrap;


            }
          }
        }

        &--right {
          position: absolute;
          width: 20%;
          height: 100%;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(120px);
          transform-origin: 100%;
          background: $cd-tertiary;
          transition: all 330ms ease-in-out;
          > i {
            color: white;
            transform: rotate(180deg);
            transition: transform 330ms ease-in-out;
          }
        }
      }
    }

    &__desert {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      &__options {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &--card {
          display: flex;
          flex-direction: column;
          position: relative;
          box-shadow: 0px 3px 4px rgb(196, 191, 191);
          border-radius: 25px;
          height: 80px;
          width: 90%;
          margin-bottom: 1rem;
          overflow-x: hidden;
          &:hover {
            .container__desert__options--right {
              transform: translateX(0);
              border-radius: 0 25px 25px 0;
            }

            .option--price {
              transform: translateX(-50px);
              transition: transform 330ms ease-in-out;
            }

            .container__desert__options--desc {
              & > h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 180px;
                overflow-x: hidden;
              }

              div {
                & > p {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 180px;
                  overflow-x: hidden;
                }
              }
            }
            i {
              transform: rotate(0deg);
            }
          }
        }

        .option--price {
          position: absolute;
          right: 5%;
          bottom: 0;
          transition: transform 330ms ease-in-out;
        }

        &--desc {
          align-items: center;
          padding-left: 1rem;

          & > h3 {
            margin-bottom: 0;
            transition: all 330ms ease-in-out;
            text-overflow: ellipsis;
            width: 180px;
            overflow-x: hidden;
            white-space: nowrap;
          }

          & > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            & > p{
              text-overflow: ellipsis;
              width: 180px;
              overflow-x: hidden;
              white-space: nowrap;
            }
          }
        }

        &--right {
          position: absolute;
          width: 20%;
          height: 100%;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(120px);
          transform-origin: 100%;
          background: $cd-tertiary;
          transition: all 330ms ease-in-out;
          > i {
            color: white;
            transform: rotate(180deg);
            transition: transform 330ms ease-in-out;
          }
        }
      }
    }
    .container__title {
      width: 50px;
      height: 40px;
      margin-bottom: 2rem;

      margin-top: 2rem;
      margin-left: 1.5rem;
      display: flex;
      justify-content: baseline;
      align-items: center;
      border-bottom: 2px solid $cd-tertiary;
      & > h2 {
        font-weight: 300;
      }
    }
    &__btn {
      height: 60px;
      width: 60%;
      border-radius: 30px;
      background: linear-gradient($cd-primary, $cd-secondary);
      position: relative;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 3px 10px rgb(170, 167, 167);
      font-family: "Roboto";
      font-size: 1.2rem;
      color: white;
      z-index: 1;
      transform: scale(1);
      transition: transform 330ms ease-in-out;
      transition: all 330ms ease-in-out;

      &:hover {
        &::after {
          opacity: 1;
        }

        transform: scale(1.15);
      }

      &::after {
        content: "";
        position: absolute;
        background: linear-gradient(to right, $cd-primary, $cd-secondary);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        border-radius: 30px;
        transition: opacity 330ms;
      }
    }
  }

  .footer {
    margin-left: 10%;
  }
  

  .container__main {
    .option--price {
      margin-bottom: 1rem;
    }
  }

  .container__desert {
    .option--price {
      margin-bottom: 1rem;
    }
  }

  // Footer

  
}

// Menu Aniations Global

body {
  background: rgb(24, 5, 5);
}



// body {
//   position: relative;
//   min-height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }



// .content__loaded {
//   animation: content_loading 0s 1s both;
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

.container__entry__options--card {
  animation: items-fade 700ms both;
  
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: 300ms * $i;
    }
  }
}

.container__main__options--card {

  animation: items-fade 700ms  both;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: 300ms * $i;
    }
  }
}

.container__desert__options--card {
  animation: items-fade 700ms  both;
  @for $i from 1 through 3 {
    &--#{$i} {
      animation-delay: 300ms * $i;
    }
  }
}
