@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Text Colors
$cd-primary: #9356dc;
$cd-secondary: #ff79da;
$cd-tertiary: #99e2d0;

// Background Colors

$background-header: #fff;
$background-location: rgb(231, 227, 227);
$background-elements: #f2f2f2;


//Box Shadows

$box_shadow-header: 0px 4px 4px rgb(192, 178, 178);

// Font
$font-family: "Roboto";

// Animations Entries
$anim-duration: 600ms;
$anim-delay: $anim-duration / 3;

// Animation for main dishes

$anim-duration-1: 1000ms;
$anim-delay-1: $anim-duration-1 / 3;

// Animations Desserts

$anim-duration-2: 1400ms;
$anim-delay-2: $anim-duration-2 / 3;

@keyframes content_loading {
  0% {
    opacity: 0;
    animation-delay: 2s;
  }
  100% {
    opacity: 1;
  }
}

 // Removing Spinner after 3000ms 

@keyframes item__remove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-999px);
  }
}

// Displaying menu cards

@keyframes items-fade {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Spinner Rotation Animation

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
}

//Animated Variables to be used

$spinner-duration: 3000ms;
$spinner-delay: 100ms;
$content-delay: $spinner-duration + $spinner-delay;

//Loading main content on page 1

@keyframes content-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Menu title animation on page load

@keyframes title-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
